<?xml version="1.0"?>
<launch>
    <arg name="display_processed_image" default="true" doc="if true, the processed image is displayed"/>
    <param name="/lanes/hough_transform" value="100"/>
    <param name="/lanes/min_line_length" value="40"/>
    <param name="/lanes/max_line_gap" value="5"/>
    <param name="/lanes/lane_rect" value="8"/>
    <param name="/lanes/min_red_threshold" value="220000"/>
    <param name="/lanes/min_yellow_threshold" value="60000"/>
    <param name="/lanes/min_hue_red" value="170"/>  <!--hue wraps around, min is value before 180/0-->
    <param name="/lanes/max_hue_red" value="10"/>
    <param name="/lanes/min_hue_yellow" value="25"/>
    <param name="/lanes/max_hue_yellow" value="40"/>
    <node pkg="self_driving" type="lanes" name="lanes"/>
    <group if="$(arg display_processed_image)">
		<node name="image_view" pkg="image_view" type="image_view">
            <param name="~autosize" value="true"/>
            <remap from="image" to="my_lanes/image_raw"/>
        </node>
	</group>
</launch>