<?xml version="1.0"?>
<launch>
    <!--param name="steering/throttle" value="0.01"/-->
    <param name="steering/k" value="0.004"/>
    <param name="steering/stop_acc_min" value="4"/>
    <param name="steering/target_low" value="280"/>
    <param name="steering/target_high" value="300"/>
    <param name="steering/after_stop_delay" value="10"/>
    <param name="steering/intersection_y_threshold" value="530"/>
    <node pkg="self_driving" type="steering" name="steering" output="screen"/>
</launch>